<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>product</title>
</head>
<body>

	<section>
		<div class="container-fluid bg-primary p-5">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<form action="" method="get">

						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-light text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass"></i>Search
							</button>

						</div>

					</form>

				</div>

			</div>
		</div>


		<div class="container-fluid mt-1">
			<div class="row">
				<div class="col-md-2">

					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action active"
							aria-current="true"> Categories </a> <a href="#"
							class="list-group-item list-group-item-action">Electronic
							item</a> <a href="#" class="list-group-item list-group-item-action">Mobile</a>
						<a href="#" class="list-group-item list-group-item-action">Clothes</a>
					</div>

				</div>
				<div class="col-md-10">
					<div class="card shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body">
							<p class="fs-3 text-center">Product</p>

							<div class="row">
								<div class="col-md-3">
									<div class="card">
										<div class="card-body text-center">
											<img alt="" src="img/product_img/laptop.jpg" width="100%"
												height="150px">
											<p class="fs-5 text-center">Laptop</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													&#8377; 500 <span class="fs-6 text-success">20% off</span>
												</p>
												<a href="/product"
													class="btn btn-primary col-md-6 offset-md-3">view
													Details</a>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-3">
									<div class="card">
										<div class="card-body text-center">
											<img alt="" src="img/product_img/laptop.jpg" width="100%"
												height="150px">
											<p class="fs-5 text-center">Laptop</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													&#8377; 500 <span class="fs-6 text-success">20% off</span>
												</p>
												<a href="" class="btn btn-primary col-md-6 offset-md-3">view
													Details</a>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-3">
									<div class="card">
										<div class="card-body text-center">
											<img alt="" src="img/product_img/laptop.jpg" width="100%"
												height="150px">
											<p class="fs-5 text-center">Laptop</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													&#8377; 500 <span class="fs-6 text-success">20% off</span>
												</p>
												<a href="" class="btn btn-primary col-md-6 offset-md-3">view
													Details</a>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-3">
									<div class="card">
										<div class="card-body text-center">
											<img alt="" src="img/product_img/laptop.jpg" width="100%"
												height="150px">
											<p class="fs-5 text-center">Laptop</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													&#8377; 500 <span class="fs-6 text-success">20% off</span>
												</p>
												<a href="" class="btn btn-primary col-md-6 offset-md-3">view
													Details</a>
											</div>
										</div>
									</div>

								</div>

								<!-- to do ::remove  after backend implement-->

							</div>

						</div>
					</div>


				</div>
			</div>

		</div>


		<br>
	</section>
</body>
</html>